SELECT nodeid, masterid, c.INTEGRATION_ID --count(distinct i.ROW_WID) bike_inj
FROM [FORMS].[dbo].[WC_ACCIDENT_F] as c
JOIN FORMS.dbo.WC_ACCIDENT_VICTIM_F as i
ON c.INTEGRATION_ID=i.ACCIDENT_ID
WHERE year(c.ACCIDENT_DT) between 2017 and 2019
AND i.INJ_KILLED = 'Injured'
AND coalesce(c.VOID_STATUS_CD , 'N') = 'N'
AND coalesce(nonmv, 0) = 0
AND i.PED_NONPED = 'Bicyclist'
and NODEID in (66401, 42935, 43055, 43058, 68771, 42932, 9036985, 9003981, 9036985, 42987, 9003768, 42935, 9003772, 9003768, 9003774, 9003772, 9003774, 9003780, 9003783, 9003780, 9003787, 9003783, 9003787, 9003790, 9003790, 9003792, 9003793, 9003792, 9003793, 9003794, 9003796, 9003794, 9003796, 9003798, 9003798, 9003800, 9003800, 9003801, 68771, 9003912, 9003916, 9003912, 9003941, 9003916, 9003941, 9003945, 9003945, 9003949, 9003954, 9003949, 9003954, 9003975, 9003975, 9003981, 42987, 9004200, 103040, 9004200, 103040, 9004287, 9004287, 9004295, 9004295, 9004322, 9004324, 9004322, 9004326, 9004324, 9004326, 9004328, 9004337, 9004328, 9004342, 9004337, 9004342, 43055, 9003804, 9003801, 42932, 9003804)
--GROUP BY nodeid, masterid


SELECT nodeid, masterid, count(distinct i.ROW_WID) bike_inj
FROM [FORMS].[dbo].[WC_ACCIDENT_F] as c
JOIN FORMS.dbo.WC_ACCIDENT_VICTIM_F as i
ON c.INTEGRATION_ID=i.ACCIDENT_ID
WHERE year(c.ACCIDENT_DT) between 2017 and 2019
AND i.INJ_KILLED = 'Injured'
AND coalesce(c.VOID_STATUS_CD , 'N') = 'N'
AND coalesce(nonmv, 0) = 0
AND i.PED_NONPED = 'Bicyclist'
GROUP BY nodeid, masterid




SELECT nodeid, masterid, c.integration_id, count(distinct i.ROW_WID) bike_inj
FROM [FORMS].[dbo].[WC_ACCIDENT_F] as c
JOIN FORMS.dbo.WC_ACCIDENT_VICTIM_F as i
ON c.INTEGRATION_ID=i.ACCIDENT_ID
WHERE year(c.ACCIDENT_DT) between 2017 and 2019
AND i.INJ_KILLED = 'Injured'
AND coalesce(c.VOID_STATUS_CD , 'N') = 'N'
AND coalesce(nonmv, 0) = 0
AND i.PED_NONPED = 'Bicyclist'
GROUP BY nodeid, masterid,  c.integration_id





SELECT nodeid, masterid, c.integration_id, count(distinct i.ROW_WID) bike_inj
FROM [FORMS].[dbo].[WC_ACCIDENT_F] as c
JOIN FORMS.dbo.WC_ACCIDENT_VICTIM_F as i
ON c.INTEGRATION_ID=i.ACCIDENT_ID
WHERE year(c.ACCIDENT_DT) between 2017 and 2019
AND i.INJ_KILLED = 'Injured'
AND coalesce(c.VOID_STATUS_CD , 'N') = 'N'
AND coalesce(nonmv, 0) = 0
AND i.PED_NONPED = 'Bicyclist'
and  c.integration_id in (255517066, 125919066, 185519066, 241917066, 3519066, 219318066, 226918066, 242017066, 34518066, 93517066, 11219066, 270818066, 299517070, 104719070, 240317070, 326117070, 110418070, 198718070, 185719070, 266118070, 72719070, 252318063, 129119063, 231617063, 103319063)
GROUP BY nodeid, masterid,  c.integration_id



